@model Student2Redo.Models.ViewModels.InstructorDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>InstructorClass</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.instructor.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.instructor.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.instructor.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.instructor.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.instructor.SlackHandle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.instructor.SlackHandle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.instructor.Specialty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.instructor.Specialty)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.instructor.Cohort.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.instructor.Cohort.Name)
        </dd>
    </dl>
</div>
<div>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.instructor.Id}) |*@
    <a asp-action="Index">Back to List</a>
</div>
